.cryptologo{
    width: 36px;
    margin-right: 15px;
}

.icon{
    margin-right: 10px;
    font-size: 1.4rem;
}

.history{
    margin-top: 50px;
}

.info-panel h3{
    margin: 15px 0;
}

.big-logo{
    width: 100%;
}

.price{
    margin-top: 30px;
}

.icon-success{
    color: #14bc28;
    margin-right: 10px;
}

.icon-fail{
    color: #ff3232;
    transform: rotate(180deg);
    margin-right: 10px;
}